---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-ko-font-family: 'Noto Sans KR', sans-serif;

$base-font-family: $base-ko-font-family;//'Spoqa Han Sans',  'KoPub Batang' 'Noto Sans KR' 'Nanum Gothic Coding'
$base-font-size:   14px;
$base-font-weight: 300;
$base-font-color: #000;

$heading-font-weight: 400;

$code-font-family: 'Inconsolata', 'KoPub Batang', monospace;
$code-font-size:   13px;
$code-font-weight: 400;
$code-font-color:  #458;

$post-title-font-family: $base-ko-font-family;
$post-title-font-size:  $base-font-size * 2;
$post-title-font-weight: 500;

$site-title-font-family: 'Dancing Script', sans-serif;
$site-title-font-size:  $base-font-size * 2.7;
$site-title-font-weight: 600;

$base-line-height: 1.5;
$spacing-unit:     35px;

$background-color: #fdfdfd;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$blockquote-font-color: $grey-color;
$mark-color:       #F5FFCD;

$brand-color:      #2a7ae2;
$link-color:       #cb4b16;
$green:			   #18B888;

// Width of the content area
$content-width:    640px;

$on-palm:          500px;
$on-laptop:        640px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "header",
        "footer",
        "page",
        "index",
        "blog",
        "post",
        "pygments-solarized-light",
        //url(http://fonts.googleapis.com/earlyaccess/jejugothic.css),
        // url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css),
        url(http://fonts.googleapis.com/earlyaccess/notosanskr.css),
        url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css),
        url(https://fonts.googleapis.com/css?family=Dancing+Script:400|Inconsolata),
        url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css)
;


// @font-face {
//     font-family: 'NotoSans';
//     font-style: normal;
//     font-weight: 300;
//     // src: local('Noto Sans Light'), local('Noto Sans Light'), local('Noto Sans Light');
//     src: url(../assets/NotoSans/NotoSans-Light.eot);
//     src: url(../assets/NotoSans/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
//     url(../assets/NotoSans/NotoSans-Light.woff) format('woff'),
//     url(../assets/NotoSans/NotoSans-Light.otf) format('truetype');
// }
// //400: regular, 700: bold
// @font-face {
//     font-family: 'NotoSans';
//     font-style: normal;
//     font-weight: 400;
//     // src: local('Noto Sans Regular'), local('Noto Sans Regular'), local('Noto Sans Regular');
//     src: url(../assets/NotoSans/NotoSans-Regular.eot);
//     src: url(../assets/NotoSans/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
//     url(../assets/NotoSans/NotoSans-Regular.woff) format('woff'),
//     url(../assets/NotoSans/NotoSans-Regular.otf) format('truetype');
// }
// @font-face {
//     font-family: 'NotoSans';
//     font-style: normal;
//     font-weight: 500;
//     // src: local('Noto Sans Medium'), local('Noto Sans Medium'), local('Noto Sans Medium');
//     src: url(../assets/NotoSans/NotoSans-Medium.eot);
//     src: url(../assets/NotoSans/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
//     url(../assets/NotoSans/NotoSans-Medium.woff) format('woff'),
//     url(../assets/NotoSans/NotoSans-Medium.otf) format('truetype');
// }