---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-ko-font-family: 'Noto Sans KR', sans-serif;

$base-font-family: $base-ko-font-family;//'Spoqa Han Sans',  'KoPub Batang' 'Noto Sans KR' 'Nanum Gothic Coding'
$base-font-size:   14px;
$base-font-weight: 300;
$base-font-color: #000;

$code-font-family: 'Inconsolata', 'KoPub Batang', monospace;
$code-font-size:   13px;
$code-font-weight: 400;
$code-font-color:  #458;

$post-title-font-family: 'Noto Sans KR', sans-serif;
$post-title-font-size:  $base-font-size * 2;
$post-title-font-weight: 500;


// $title-font-family: 'Noto Sans KR', sans-serif; //h1~3

$site-title-font-family: 'Dancing Script', sans-serif;
$site-title-font-size:  $base-font-size * 2.7;
$site-title-font-weight: 600;

$small-font-size:  $base-font-size * 0.875;

$base-line-height: 1.5;

$spacing-unit:     35px;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$title-color:      #000;
$blockquote-font-color: $grey-color;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$link-color:       #cb4b16;
$green:			   #18B888;
$mark-color:       #F5FFCD;



// Width of the content area
$content-width:    640px;

$on-palm:          500px;
$on-laptop:        640px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        url(/css/pygments-solarized-light.css),
        // url(/css/icons.css),
        // url(//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css),
        url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css),
        //url(http://fonts.googleapis.com/earlyaccess/jejugothic.css),
        // url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css),
        url(http://fonts.googleapis.com/earlyaccess/notosanskr.css),
        // url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css),
        // url(/css/d2coding-webfont/d2coding.css),
        url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css),
        // url('https://fonts.googleapis.com/css?family=Source+Code+Pro'),
        // url(https://fonts.googleapis.com/css?family=Josefin+Slab),
        url(https://fonts.googleapis.com/css?family=Dancing+Script:400),
        url(https://fonts.googleapis.com/css?family=Inconsolata:400)
;