---
layout: default
title:  
permalink: /music/
---

<!-- get album data -->
{% assign sorted_albums = (site.data.music | sort: 'artist') %}

<!-- generate tag list -->
{% assign mytagstr = '' %}
{% for item in site.data.music %}
  {% if item.tag != None %}
      {% assign tmp = mytagstr | append: ' ' %}
      {% assign mytagstr = tmp | append: item.tag %}
  {% endif %}
{% endfor %}
{% assign sorted_tags = mytagstr | split: ' ' | uniq %}


<style>
.myalbums:before,
.myalbums:after,
.albumcaption:before,
.albumcaption:after{
    content:"";
    display:block;
    clear:both}
    
.myalbums{
    /* margin-left: 30px; */
    position:relative;
    /* padding: 0px; */
    /* text-align: center; */
    /* margin-bottom:15px */
}

.myalbums > a{
  font-size: 0px;
}

.myalbums > *:focus {
      outline: none;
}
    
.myalbum{
    display:inline-block;
    margin-right:10px;
    margin-bottom:10px;
    margin-left:0px;
    margin-top:0px;
    padding: 0px;
    float: left;
}
    
.myalbum img{
    /* background-color:#9c7979; */
    width:50px;
    height:50px;
    border-radius:10px
}

  {% for item in sorted_albums %}
    .myalbum.img-{{ item.img }}:hover ~ .cap-{{ item.img }}{% if forloop.last == false %},{% endif %}
  {% endfor %} 
  {display:block}

.albumcaption{
  display:none;
  top:100%;
  line-height:1;
  font-size:0.95em;
  position:absolute}
</style>

<h2>Music Shelves</h2>

<div class="row">
  <span class="left">
    <img src="/assets/tumblr_lgp7rlBMqO1qe0xnj-min.jpg" height=180>
  </span>
  <span class="right" id="column">
    <ul class="tags-list">
      {% for tag in sorted_tags %}
        {% assign tag_count = 0 %}
        {% for item in sorted_albums %}
          {% if item.tag contains tag %}
          {% assign tag_count = tag_count | plus:1 %}
          {% endif %}
        {% endfor %}
    
        <li class="tag-item" id="{{ tag }}-item">
          <a href onclick="filter('{{ tag }}'); return false;" class="tag-link" id="{{ tag }}">{{ tag }}<span>{{ tag_count }}</span></a>
        </li>
      {% endfor %}
    </ul>
  </span>
</div>

<hr>

<div class="myalbums" id='all-container'>
  {% for item in sorted_albums %}
    {% assign imgstr = item.img | downcase %}

    {% assign img2 = imgstr | slice: -5, 2 %}
    {% assign img3 = imgstr | slice: -3, 3 %}

    {% assign imgsize = imgstr.size %}
    {% if imgsize == 3 %}
        {% assign img1 = "000" %}
        {% assign img2 = "00" %}
    {% elsif imgsize == 5 %}
        {% assign img1 = "000" %}
    {% elsif imgsize == 6 %}
        {% assign prefix = imgstr | slice: 0, 1 %}
        {% assign img1 = "00" | append: prefix %}
    {% elsif imgsize == 7 %}
        {% assign prefix = imgstr | slice: 0, 2 %}
        {% assign img1 = "0" | append: prefix %}
    {% elsif imgsize == 8 %}
        {% assign img1 = imgstr | slice: 0, 3 %}
    {% endif %}
    {% if item.img > 10316900 %}
      {% assign cm = "cm2" %}
      {% if item.imgcode %}
        {% assign imgstr = imgstr | append: "_" | append: item.imgcode %}
      {% endif %}
    {% else %}
      {% assign cm = "cm" %}
    {% endif %}

    <a href="https://www.melon.com/album/detail.htm?albumId={{item.img}}" class="img-{{ item.img }} myalbum" target="_blank"><img src="https://cdnimg.melon.co.kr/{{ cm }}/album/images/{{ img1 }}/{{ img2 }}/{{ img3 }}/{{ imgstr }}_500.jpg"></a>
  {% endfor %}

  {% for item in sorted_albums %}
    <div class="albumcaption cap-{{ item.img }}">
      {% if item.artist == None %} {% else %} {{ item.artist }} - {% endif %}{{ item.title }} {% if item.caption == None %}{% else %}| {{ item.caption }}{% endif %}
    </div>
  {% endfor %}
</div>


<!-- Reference: http://www.jokecamp.com/blog/listing-jekyll-posts-by-tag/ -->
{% for tag in sorted_tags %}
  {% assign album_ids = '' %}
  {% for item in sorted_albums %}
    {% if item.tag contains tag %}
      {% if album_ids == '' %}
        {% assign album_ids = album_ids | append: '' | append: item.img %}
      {% else %}
        {% assign album_ids = album_ids | append: '|' | append: item.img %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <div class="myalbums hidden" id="{{ tag }}-container">
    {% assign num_albums = album_ids | size %}
      {% if num_albums == 1 %}
        <p>{{ num_albums }} album related to <b>"{{ tag }}"</b></p>
      {% else %}
        <p>{{ num_albums }} albums related to <b>"{{ tag }}"</b></p>
      {% endif %}

    {% for item in sorted_albums %}
      {% if item.tag contains tag %}
          
        {% assign imgstr = item.img | downcase %}

        {% assign img2 = imgstr | slice: -5, 2 %}
        {% assign img3 = imgstr | slice: -3, 3 %}
    
        {% assign imgsize = imgstr.size %}
        {% if imgsize == 3 %}
            {% assign img1 = "000" %}
            {% assign img2 = "00" %}
        {% elsif imgsize == 5 %}
            {% assign img1 = "000" %}
        {% elsif imgsize == 6 %}
            {% assign prefix = imgstr | slice: 0, 1 %}
            {% assign img1 = "00" | append: prefix %}
        {% elsif imgsize == 7 %}
            {% assign prefix = imgstr | slice: 0, 2 %}
            {% assign img1 = "0" | append: prefix %}
        {% elsif imgsize == 8 %}
            {% assign img1 = imgstr | slice: 0, 3 %}
        {% endif %}
    
        {% if item.img > 10320000 %}
          {% assign cm = "cm2" %}
        {% else %}
          {% assign cm = "cm" %}
        {% endif %}
    
        <a href="https://www.melon.com/album/detail.htm?albumId={{item.img}}" class="img-{{ item.img }} myalbum" target="_blank"><img src="https://cdnimg.melon.co.kr/{{ cm }}/album/images/{{ img1 }}/{{ img2 }}/{{ img3 }}/{{ imgstr }}_500.jpg"></a>

      {% endif %}
    {% endfor %}

  {% for item in sorted_albums %}
    {% if item.tag contains tag %}
    <div class="albumcaption cap-{{ item.img }}">
      {% if item.artist == None %} {% else %} {{ item.artist }} - {% endif %}{{ item.title }} {% if item.caption == None %}{% else %}| {{ item.caption }}{% endif %}
    </div>
    {% endif %}
  {% endfor %}
  </div>
{% endfor %}


<br>


<script type="text/javascript">
if(window.location.hash) {
  var tag = window.location.hash.split('#')[1];
  filter(tag);
}

function filter(tag) {
  setActiveTag(tag);
  showContainer(tag);
}
function unfilter(tag) {
  deActiveTag(tag);
  showContainer('all');
}

function resetAll(){
  /* loop through all items and remove active class */
  var items = document.getElementsByClassName('tag-item');
  for(var i=0; i < items.length; i++) {
    items[i].setAttribute('class', 'tag-item');
  }
  /* loop through all items and remove active class */
  var items = document.getElementsByClassName('tag-link');
  for(var i=0; i < items.length; i++) {
    var tag = items[i].id;
    var linkurl = 'filter(\'' + tag + '\'); return false;';
    items[i].setAttribute('class', 'tag-link');
    items[i].setAttribute('onclick', linkurl);
  }
}
function setActiveTag(tag) {
  resetAll();
  /* set the selected tag's item to active (for styling) */
  var item = document.getElementById(tag + '-item');
  if(item) {
    item.setAttribute('class', 'tag-item active');
  }
  /* change the selected tag's link for filtering */
  var item = document.getElementById(tag);
  var linkurl = 'unfilter(\'' + tag + '\'); return false;';
  if(item) {
    item.setAttribute('class', 'tag-link active');
    item.setAttribute('onclick', linkurl);
  }
}
function deActiveTag(tag) {
  resetAll();
  /* change the selected tag's link for filtering */
  var item = document.getElementById(tag);
  var linkurl = 'filter(\'' + tag + '\'); return false;';
  if(item) {
    item.setAttribute('class', 'tag-link');
    item.setAttribute('onclick', linkurl);
  }
}
function showContainer(tag) {
  /* loop through all lists and hide them */
  var lists = document.getElementsByClassName('myalbums');
  for(var i=0; i < lists.length; i++) {
    lists[i].setAttribute('class', 'myalbums hidden');
  }
  /* remove the hidden class from the list corresponding to the selected tag */
  var list = document.getElementById(tag + '-container');
  if(list) {
    list.setAttribute('class', 'myalbums');
  }
}
</script>