<h1 class="site-title">
  Eunji Kim <span class="ssmol">(김은지)</span>
</h1>
<div class="site-desc">
<div>
  Assistant Professor,
</div>
<div>
  School of Business Administration,
</div>
<div>
  Chung-Ang University
</div>
<div>
  eunjikim [at] cau.ac.kr
</div>
</div>


<div>

{% assign page_titles = "about,publication,project,teaching,contact" | split: ',' %}
{% assign page_urls = "/,/publication,/project,/teaching,/contact" | split: ',' %}

{% for title in page_titles %}
{% if title == page.title %}
  {{ title }}
{% else %}
  <a class="page-link" href="{{ page_urls[forloop.index0] }}">{{ title }}</a>
{% endif %}
{% if title != page_titles.last %} / {% endif %}
{% endfor %}
<br>

</div>