{% if page.url contains "ko/" %}
{% assign homeurl = "/ko/" %}
{% else %}
{% assign homeurl = "/" %}
{% endif %}

<div class="header-profile">

  <div class="left atleast350">
  <a href="{{homeurl}}" id="banner"></a>
  <script>
    const len = 76;
    const randomNum = Math.floor(Math.random() * len);
    document.getElementById("banner").innerHTML = '<img src="{{site.url}}/assets/banner/'+randomNum+' Small.jpeg">';
  </script>
  </div>

  <div class="right">

    <div class="header-desc atleast600">
    <a href="{{homeurl}}" class="nocolor">
      <h1 class="h1">Eunji Kim <span class="ssmol">김은지, 중앙대학교 경영학부 조교수</span></h1>
      <div><span class="smol">Assistant Professor, School of Business Administration,</span></div>
      <div><span class="smol">Chung-Ang University, Seoul, Korea</span></div>
    </a>
    <div class="desc">eunjikim at cau.ac.kr</div>

  </div>

  
  <div class="header-desc atmost600">
    <a href="{{homeurl}}" class="nocolor">
      <h1 class="h1">Eunji Kim <span class="ssmol">김은지</span></h1>  
      <div><span class="smol">Assistant Professor, CAU</span></div>
      <div><span class="smol">중앙대학교 경영학부 조교수</span></div>
    </a>
    <div class="desc">eunjikim at cau.ac.kr</div>
  </div>
  
  </div>
</div>

<div class="header-bookmark">
  
  {% unless page.layout == "post" or page.url contains "blog" %}
    <a class="styled-link atleast400" href="{{ site.cv_url }}" target="_blank">Curriculum Vitae</a>
    <a class="styled-link atleast350 atmost400" href="{{ site.cv_url }}" target="_blank">CV</a>
    <a class="styled-link" href="{{ site.scholar_url }}" target="_blank">Google Scholar</a>
    <!-- <a class="styled-link" href="{{ site.orcid_url }}" target="_blank">ORCiD</a> -->
  {% endunless %}

  {% if page.url contains "ko/" %}
  <a class="styled-link marked" href="{{ page.url | remove: "ko/" }}">한국어/English</a>
  {% elsif page.layout == "post" %} 
  <a class="styled-link marked" href="/blog/">←</a>
  {% elsif page.url contains "blog" %}
  <div></div>
  {% else %}
  <a class="styled-link marked" href="{{ page.url}}ko/">English/한국어</a>
  {% endif %}

  {% if page.url contains "/publication/" %}
  <a class="styled-link" href="{{ homeurl }}#pub">←</a>
  {% elsif page.url contains "/project/" %}
  <a class="styled-link" href="{{ homeurl }}#pjt">←</a>
  {% endif %}

</div>
