<script type="text/javascript">
    function preload(){
        let images = new Array();
        for ( i = 0; i < len; i++) {
            let image = new Image();
            image.src = "{{site.url}}/assets/banner/"+i+" Small.jpeg";
            images.push(image)
        }
    }
    window.onload = () => preload();
</script>

<!-- mathjax config -->
<!-- <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> -->
<!-- MathJax -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    TeX: {
    Macros: {
            // \def\R{\mathbb R}
            R: "{\\mathbb R}",
            E: ["{\\mathbb{E} \\left[ {#1} \\right]}",1],
            EE: ["{\\mathbb{E}_{#1} \\left[ {#2} \\right]}",2],
            D: "{\\mathscr D}",
            x: "{\\textbf x}",
            y: "{\\textbf y}",
            z: "{\\textbf z}",
            bold: ["{\\bf #1}",1]
        },
        equationNumbers: {
        autoNumber: "AMS"
        },
    noErrors: {
        multiLine: true,             // false for TeX on all one line
        style: {
            "font-size":   "90%",
            "text-align":  "left",
            "color":       "black",
            "padding":     "1px 3px",
            "border":      "1px solid"
            // add any additional CSS styles that you want
            //  (be sure there is no extra comma at the end of the last item)
        }
    }
    },
    "HTML-CSS": {
    availableFonts: ["STIX", "TeX"],   // Add "STIX" for Word style formula
    preferredFont: "TeX",
    linebreaks: { automatic:true },
    <!--styles: {".MathJax": {color: "#444"}},-->
    EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50)
    },
    tex2jax: {
        inlineMath: [["$", "$"], ["\\(","\\)"]],
        displayMath: [ ['$$','$$'], ['\\[', '\\]'] ]
    }
    });
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LTEDFEX3VP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LTEDFEX3VP');
</script>
