/**
 * Main photo and text (custom)
 */
.main-photos {
  position: relative;
  margin-left: 0px;
  margin-bottom: 15px;
  text-align: center;
}

.main-photo {
  display: inline-block;
  margin-right: 5px;
  // float: left;
  .p1{
    
    img {
      height: 180px;
    }
  }
  .p2{
    margin-right: 10px;
    img {
      height: 180px;
    }
  }
  @media screen and (max-width: $on-palm) {
    .p1{
      margin-right: 0px;
      display: none;
    }
    .p2{
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  
}

/**
 * Music photo and tags (custom)
 */
 .row {
  display: flex;
}
/* Create two equal columns that sits next to each other */
.column1 {
  flex: none;
  padding: 10px;
}
.column2 {
  // flex: 50%;
  padding: 10px;
}


.main-text {
    font-family: $code-font-family;
    font-weight: $code-font-weight;
    font-size: $code-font-size;
    font-style: normal;
    font-variant: normal;
}

/* photos and captions */
/* ref: muan.github.com */

.myphotos,
.caption {
  &:before, &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.myphotos {
  position: relative;
  margin-bottom: 15px;
}

.myphoto {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;

  img {
    background-color: #f0f0f0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  &.p-l:hover ~ .c-l,
  &.p-0:hover ~ .c-0,
  &.p-1:hover ~ .c-1,
  &.p-2:hover ~ .c-2,
  &.p-3:hover ~ .c-3,
  &.p-4:hover ~ .c-4,
  &.p-5:hover ~ .c-5,
  &.p-6:hover ~ .c-6,
  &.p-7:hover ~ .c-7,
  &.p-8:hover ~ .c-8, 
  &.p-9:hover ~ .c-9, 
  &.p-10:hover ~ .c-10,
  &.p-11:hover ~ .c-11,
  &.p-12:hover ~ .c-12,
  &.p-13:hover ~ .c-13,
  &.p-14:hover ~ .c-14,
  &.p-15:hover ~ .c-15,
  &.p-16:hover ~ .c-16,
  &.p-17:hover ~ .c-17,
  &.p-18:hover ~ .c-18, 
  &.p-19:hover ~ .c-19, 
  &.p-20:hover ~ .c-20,
  &.p-21:hover ~ .c-21,
  &.p-22:hover ~ .c-22,
  &.p-23:hover ~ .c-23,
  &.p-24:hover ~ .c-24,
  &.p-25:hover ~ .c-25,
  &.p-26:hover ~ .c-26,
  &.p-27:hover ~ .c-27,
  &.p-28:hover ~ .c-28, 
  &.p-29:hover ~ .c-29,
  &.p-30:hover ~ .c-30,
  &.p-31:hover ~ .c-31,
  &.p-32:hover ~ .c-32,
  &.p-33:hover ~ .c-33,
  &.p-34:hover ~ .c-34,
  &.p-35:hover ~ .c-35,
  &.p-36:hover ~ .c-36,
  &.p-37:hover ~ .c-37,
  &.p-38:hover ~ .c-38, 
  &.p-39:hover ~ .c-39,
  &.p-40:hover ~ .c-40,
  &.p-41:hover ~ .c-41,
  &.p-42:hover ~ .c-42,
  &.p-43:hover ~ .c-43,
  &.p-44:hover ~ .c-44,
  &.p-45:hover ~ .c-45,
  &.p-46:hover ~ .c-46,
  &.p-47:hover ~ .c-47,
  &.p-48:hover ~ .c-48,
  &.p-49:hover ~ .c-49,
  &.p-50:hover ~ .c-50,
  &.p-51:hover ~ .c-51,
  &.p-52:hover ~ .c-52,
  &.p-53:hover ~ .c-53,
  &.p-54:hover ~ .c-54,
  &.p-55:hover ~ .c-55,
  &.p-56:hover ~ .c-56,
  &.p-57:hover ~ .c-57,
  &.p-58:hover ~ .c-58,
  &.p-59:hover ~ .c-59,
  &.p-60:hover ~ .c-60,
  &.p-61:hover ~ .c-61,
  &.p-62:hover ~ .c-62,
  &.p-63:hover ~ .c-63,
  &.p-64:hover ~ .c-64,
  &.p-65:hover ~ .c-65,
  &.p-66:hover ~ .c-66,
  &.p-67:hover ~ .c-67,
  &.p-68:hover ~ .c-68,
  &.p-69:hover ~ .c-69,
  &.p-70:hover ~ .c-70,
  &.p-71:hover ~ .c-71,
  &.p-72:hover ~ .c-72,
  &.p-73:hover ~ .c-73,
  &.p-74:hover ~ .c-74,
  &.p-75:hover ~ .c-75,
  &.p-76:hover ~ .c-76,
  &.p-77:hover ~ .c-77,
  &.p-78:hover ~ .c-78,
  &.p-79:hover ~ .c-79,
  &.p-80:hover ~ .c-80,
  &.p-81:hover ~ .c-81,
  &.p-82:hover ~ .c-82,
  &.p-83:hover ~ .c-83,
  &.p-84:hover ~ .c-84,
  &.p-85:hover ~ .c-85,
  &.p-86:hover ~ .c-86,
  &.p-87:hover ~ .c-87,
  &.p-88:hover ~ .c-88,
  &.p-89:hover ~ .c-89,
  &.p-90:hover ~ .c-90,
  &.p-91:hover ~ .c-91,
  &.p-92:hover ~ .c-92,
  &.p-93:hover ~ .c-93,
  &.p-94:hover ~ .c-94,
  &.p-95:hover ~ .c-95,
  &.p-96:hover ~ .c-96,
  &.p-97:hover ~ .c-97,
  &.p-98:hover ~ .c-98,
  &.p-99:hover ~ .c-99,
  &.p-100:hover ~ .c-100,
  &.p-101:hover ~ .c-101,
  &.p-102:hover ~ .c-102,
  &.p-103:hover ~ .c-103,
  &.p-104:hover ~ .c-104,
  &.p-105:hover ~ .c-105,
  &.p-106:hover ~ .c-106,
  &.p-107:hover ~ .c-107,
  &.p-108:hover ~ .c-108,
  &.p-109:hover ~ .c-109,
  &.p-110:hover ~ .c-110,
  &.p-111:hover ~ .c-111,
  &.p-112:hover ~ .c-112,
  &.p-113:hover ~ .c-113,
  &.p-114:hover ~ .c-114,
  &.p-115:hover ~ .c-115,
  &.p-116:hover ~ .c-116,
  &.p-117:hover ~ .c-117,
  &.p-118:hover ~ .c-118,
  &.p-119:hover ~ .c-119,
  &.p-120:hover ~ .c-120,
  &.p-121:hover ~ .c-121,
  &.p-122:hover ~ .c-122,
  &.p-123:hover ~ .c-123,
  &.p-124:hover ~ .c-124,
  &.p-125:hover ~ .c-125,
  &.p-126:hover ~ .c-126,
  &.p-127:hover ~ .c-127,
  &.p-128:hover ~ .c-128,
  &.p-129:hover ~ .c-129,
  &.p-130:hover ~ .c-130,
  &.p-131:hover ~ .c-131,
  &.p-132:hover ~ .c-132,
  &.p-133:hover ~ .c-133,
  &.p-134:hover ~ .c-134,
  &.p-135:hover ~ .c-135,
  &.p-136:hover ~ .c-136,
  &.p-137:hover ~ .c-137,
  &.p-138:hover ~ .c-138,
  &.p-139:hover ~ .c-139,
  &.p-140:hover ~ .c-140,
  &.p-141:hover ~ .c-141,
  &.p-142:hover ~ .c-142,
  &.p-143:hover ~ .c-143,
  &.p-144:hover ~ .c-144,
  &.p-145:hover ~ .c-145,
  &.p-146:hover ~ .c-146,
  &.p-147:hover ~ .c-147,
  &.p-148:hover ~ .c-148,
  &.p-149:hover ~ .c-149,
  {
    display: block;
  }
}

.caption {
  display: none;
  top: 100%;
  line-height: 1;
  font-size: 0.95em;
  position: absolute;
}