body {
    background: $background-color;
    color: #454545;
    font-family: $base-font-family;
    line-height: 1.65rem;
    padding: 0 2.5em;
    margin: 0;
    font-size: 14px;
    word-wrap: break-word;
}

a {
    color: #329
}

*:focus {
    outline: 3px solid #ee8;
    outline-offset: 3px
}

::selection {
    background: #ffc
}

header {
    padding-top: 2.5em
}

footer {
    /* font-weight: bold; */
    font-size: 10;
    padding-bottom: 2.5em
}

main {
    padding-top: 2.5em;
    padding-bottom: 2.5em
}

header,
main,
footer {
    max-width: 50em;
    margin: auto
}

@media (min-width: 52em) {
    header,
    main,
    footer {
        border-left: 1px solid #e0e0e0;
        padding-left: 2em
    }
}

h1 {
    font-size: inherit
}

h2 {
    font-size: inherit
}

h3 {
    font-size: inherit
}


hr {
    margin: 2em 0;
    border: 0;
    // border-bottom: 1px solid #888;
}


blockquote::before {
    content: '“';
    font-size: 2rem;
    position: absolute;
    margin-top: -.5em;
    margin-left: -.5em;
    color: #434343;
    font-family: $post-font-family; //sans-serif
}

.notes {
    list-style: none;
    margin: 0;
    padding: 0
}

.notes .note {
    margin-bottom: 3em
}

.notes .note:last-of-type {
    margin-bottom: 0
}



img {
    max-width: 100%;
    margin: 1em 0
}

img[width] {
    margin: 0;
    vertical-align: middle
}

.pagination {
    margin-top: 4em
}

article {
    font-family: system-ui, sans-serif;
    font-size: 16px
}



/* list */


/**
 * Lists
 */
/* ul {
    margin-left: 7px;
} */
ol {
    margin-left: 35px;
    counter-reset: list;
    padding: 0 30px 0 30px;
}
ol > li {
    list-style-position: none;
    position: relative;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
ol > li:before {
    content: "[" counter(list, decimal) "] ";
    counter-increment: list;
    position: absolute;
    left: -35px;
}
li {
    > ul,
    > ol {
         margin-bottom: 7px;
    }
}


/**
 * Code formatting
 */
pre,
code {
    font-size: $code-font-size;
    font-family: $code-font-family;
    font-weight: $code-font-weight;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: lighten($grey-color, 45%);
}

code {
    font-size: $code-font-size;
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    /* overflow-x: scroll; */
    white-space: pre-wrap; 
    word-break: break-all; 
    word-wrap: break-word; 
    overflow: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
