.header-profile {
  position: relative;
  display: inline-flex;

  img {
    width: 120px;
    height: 120px;
    border-radius: 200px;
    margin: 1em 0;
  }
  .left {
    width: 120px;
    min-width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .right {
    float: right;
    padding: 10px;
  }
}

.lang{
  font-size:.7rem;
  float: right;
  display:inline-flex;
  margin-top:0em;
  white-space:nowrap;
  box-shadow:0 5px 15px transparent;

  a[aria-current]{
      color:#303030;
  }
  a[aria-current]:before{
      content:"●";
      color:#74d274;
  }
  
  a{
      background-color:#eeeeee;
      border-color:#414141;
      color:#707070;
      padding:2px 8px;
      margin-right:1px;
      text-decoration:none
  }
  a:first-child{
      border-top-left-radius:6px;
      border-bottom-left-radius:6px
  }
  a:last-child{
      border-top-right-radius:6px;
      border-bottom-right-radius:6px
  }
  a:hover{
      background:#eeeeee;
  }
  a:focus{
      z-index:1
  }
  a:before{
      content:"○";
      color:#414141;
      padding-right:10px
  }
}
