@media ( min-width: 600px ) {
	.header-desc-mo {
		display: none !important;
	}
}

@media ( max-width: 600px ) {

    .header-desc-de {
		display: none !important;
	}
    body {
        padding: 0 1em;
        font-size: 0.9rem;
    }

    .post-list {
        > li {
            vertical-align: middle;
            margin-bottom: .4rem;
        }
    }

}