.publication {
  margin: .4rem;
}

.publication .line {
    display: flex;
    padding: 0;
    line-height: 1.6em
  }

.publication .lineno {
  font-size: .8em;
  font-weight: normal;
  color: #666;
  padding-left: 0;
  padding-right: .8rem;
}
